@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Gochi+Hand&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color:#9ee493;
    display: grid;
    grid-template-columns: 200px auto;
}
#homelink {
    font-size: 2em;
    width: 400px;
}
.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color:  #70566d;
    text-decoration: none;
    padding: 35px;
    font-family: "Gochi Hand", Verdana;
    font-size: 2em;
}
nav a:hover {
    background-color:  #70566d;
    color: #daf7dc;
}


#welcome {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 3fr;
}
#welcome-box {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 575px;
}
#welcome-box img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
    object-fit: cover;
    object-position: 50% 30%;
}
#welcome-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
}
#welcome-msg h1 {
    font-size: 4.5em;
    text-align: center;
    font-family: "Gochi Hand", Verdana;
    color: #42273b;
}


#home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    margin: 30px;
}
#home-grid h3 {
    font-family: "Gochi Hand", Verdana;
    grid-column: 1/6;
    text-align: center;
    font-size: 2.5em;
    color: #42273b;
}
h2 {
    font-size: 2em;
    color: #42273b;
}
p {
    font-size: 1.5em;
    color: #42273b;
}
.calm-title {
    grid-column: 2/3;
    font-family: "Comfortaa", Helvetica, sans-serif;
}
.calm {
    grid-column: 1/3;
    font-family: "Comfortaa", Helvetica, sans-serif;
}
.product-title {
    grid-column: 4/5;
    font-family: "Comfortaa", Helvetica, sans-serif;
}
.product {
    grid-column: 4/6;
    font-family: "Comfortaa", Helvetica, sans-serif;
}
img {
    width: 100%;
}
#inprogress {
    grid-column: 2/5;
    transform: rotate(270deg);
    width: 70%;
    margin: auto;

}


footer {
    background-color: #9ee493;
    color:#70566d;
    padding: 25px 50px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 3fr 3fr 50px 50px 50px;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #70566d;
    text-decoration: none;
}
footer a:hover {
    background-color: #70566d;
    color: #daf7dc;
}
footer p {
    font-size: 1.2em;
}  
footer .social img {
    padding-top: 15px;
}


/* Projects page css */


.projects-grid {
    display: grid;
    grid-template-columns: 1fr 10fr 4fr 10fr 1fr;
    grid-template-rows: 20px 460px 20px 20px 460px 20px 20px 260px 20px;
    margin: 0 auto;
    padding: 20px;
}

h1, h3 {
    font-family: "Gochi Hand", Verdana;
    color: #42273b;
    text-align: center;
    font-size: 2em;
}

#background, #background2 {
    background-color: #9ee493;
    grid-column: 1/6;
    height: 500px;
}
#background {
    grid-row: 1/4;
}
#background2 {
    grid-row: 7/10;
}

.beanie, .hacky, .mushy {
    grid-column: 2/3;
    font-family: "Comfortaa", Helvetica, sans-serif;
    font-size: .75em;
}
.beanie {
    grid-row: 2/3
}
#beaniebox {
    grid-column: 4/5;
    grid-row: 2/3;
    height: 460px;
}
.beanie-img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
    object-fit: cover;
    object-position: 50% 30%;
}
.hacky {
    grid-row: 5/6
}
#hackybox {
    grid-column: 4/5;
    grid-row: 5/6;
    height: 460px;
}
.hacky-img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
    object-fit: cover;
    object-position: 50% 40%;
}
.mushy {
    grid-row: 8/9;
}

#mushybox {
    grid-column: 4/5;
    grid-row: 8/9;
    height: 460px;
}
.mushy-img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
    object-fit: cover;
    object-position: 50% 30%;
}

/* Basic Information css */
h5 {
    font-family: "Gochi Hand", Verdana;
    color: #42273b;
    text-align: center;
    font-size: 1.3em;
}
#info-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 600px 20px 200px 200px;
    margin: 50px;
}

.hooksbox{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 500px;
}
.hooksbox img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
    object-fit: cover;
    object-position: 50% 30%;
}
.info-hooks {
    grid-column: 3/6;
    grid-row: 1/2;
    font-family: "Comfortaa", Helvetica, sans-serif;
    font-size: .75em;
    color: #42273b;
}

.info-stitch {
    grid-column: 1/2;
    grid-row: 3/5;
    font-family: "Comfortaa", Helvetica, sans-serif;
    font-size: .75em;
    color: #42273b;
}
h4 {
    font-size: 1.2em;
}
.stitchbox {
    grid-column: 3/5;
    grid-row: 3/4;
    height: 200px;
}
.darningbox {
    grid-column: 4/6;
    grid-row: 4/5;
    height: 200px;
}
.stitchbox img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
    object-fit: cover;
    object-position: 60% 40%;
}
.darningbox img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
    object-fit: cover;
    object-position: 50% 55%;
}
